[Unit]
Description=My Financing API (FastAPI)
After=network.target

[Service]
Type=simple
User=cykkk
WorkingDirectory=/home/cykkk/github_proj/My_Financing/backend
ExecStart=/home/cykkk/miniconda3/envs/my-financing/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
